<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>
  </br> 
  <h2> What is Flixter </h2>
    <p>
       Flixter is for students who are looking for develop their skills in Full stack developer. Some course are basic to studies and some are pro course. 
    </p>

  <h3>About Information and Privacy</h3>
    </br>
    <p>
      The core functions of the Information and Privacy office are: provides leadership, guidance, and advice develops and facilitates implementation of polices. Procedures responds to:access requests, privacy breaches questions or concerns.</br>
      If you have any questions or concerns about the Flixter approach to providing access to information or protecting privacy, please contact at email:farhan_prasla@hotmail.com.
    </p>
</div>